<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let item of items" button>
      <img src="/assets/shapes.svg" alt="" />

      <ion-card-header>
        <ion-card-title>{{item.title}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          {{item.note}}
        </p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
